
  <h2>Add New Post</h2>
    <form id="newpost" action="/newpost" method="POST">
      <label>Title<input type="text" name="post[post_title]"></label><br>
      <label>Link Source<input type="text" name="post[source]"></label>
      <input type="submit" value="submit">  
    </form>
</div>
